
<div class="relative w-full">
  <div class="relative w-full max-w-none h-[300px] md:h-[400px] lg:h-[450px] overflow-hidden z-10">
    <img src="pasteleria.jpg"
         alt="Creaciones Nicole"
         class="w-full h-full object-cover"
         data-aos="zoom-in"
         data-aos-duration="1500">
    <!-- overlay -->
    <div class="absolute inset-0 bg-black/30"></div>
    <!-- posicion img -->
    <div class="absolute left-[10%] bottom-[5px] md:left-[10%] md:bottom-[10px] flex items-center z-20"
         data-aos="fade-right"
         data-aos-delay="300"
         data-aos-duration="800">
      <!-- circulo img -->
      <div class="bg-white rounded-full shadow-lg border-4 border-[#231815] w-40 h-40 md:w-52 md:h-52 flex items-center justify-center overflow-hidden">
        <img src="logo.png"
             alt="Logo Creaciones Nicole"
             class="w-36 h-36 md:w-48 md:h-48 object-contain" />
      </div>
    </div>
  </div>
  <!-- bloque debajo -->
  <div class="h-10 md:h-7 w-full bg-[#231815] -mt-2 z-0"></div>
</div>