<div class="relative w-full min-h-[180px] md:min-h-[200px] flex items-center justify-center"
    style="clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%)">
    <div class="absolute inset-0 bg-[#231815]/80"></div>
    <div class="relative z-20 text-center text-white px-4 py-8 md:py-12 max-w-2xl mx-auto">
      <h1 class="text-3xl font-bold text-brown-800">Nuestros Carritos</h1>
      <p class="text-md md:text-lg font-medium leading-relaxed tracking-wide">Explora nuestras deliciosas opciones</p>
    </div>
</div>
<div class="p-4 space-y-12">

  <!-- Carrusel de Bebidas -->
    <h2 class="text-2xl md:text-3xl font-extrabold text-brown-800 uppercase tracking-wide text-center relative mb-6">
    Bebidas
    <span class="block w-16 h-1 bg-yellow-500 mx-auto mt-2 rounded-full"></span>
    </h2>
    <p-carousel
    [value]="bebidas"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
    styleClass="custom-carousel"
    >
        <ng-template pTemplate="item" let-product>
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden hover:scale-105 transition-transform duration-300 cursor-pointer">
            <div class="relative h-48 md:h-56 overflow-hidden">
                <img
                [src]="'https://backcreacionesnicole.onrender.com' + product.imageUrl"
                [alt]="product.name"
                class="w-full h-full object-cover"
                />
            </div>
            <div class="p-4 text-center">
                <h3 class="text-lg font-semibold text-brown-800">{{ product.name }}</h3>
                <p class="text-sm text-gray-600 mt-1">{{ product.description }}</p>
            </div>
            </div>
        </ng-template>
    </p-carousel>

  <!-- Carrusel de paletas -->
  <!-- <h2 class="text-2xl md:text-3xl font-extrabold text-brown-800 uppercase tracking-wide text-center relative mb-6">
    Paletas
    <span class="block w-16 h-1 bg-yellow-500 mx-auto mt-2 rounded-full"></span>
    </h2>
    <p-carousel
    [value]="paletas"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
    styleClass="custom-carousel"
    >
        <ng-template pTemplate="item" let-product>
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden hover:scale-105 transition-transform duration-300 cursor-pointer">
            <div class="relative h-48 md:h-56 overflow-hidden">
                <img
                [src]="product.imageUrl"
                [alt]="product.name"
                class="w-full h-full object-cover"
                />
            </div>
            <div class="p-4 text-center">
                <h3 class="text-lg font-semibold text-brown-800">{{ product.name }}</h3>
                <p class="text-sm text-gray-600 mt-1">{{ product.description }}</p>
            </div>
            </div>
        </ng-template>
    </p-carousel> -->

  <!-- Carrusel de Chascas -->
  <!-- <h2 class="text-2xl md:text-3xl font-extrabold text-brown-800 uppercase tracking-wide text-center relative mb-6">
    Chascas
    <span class="block w-16 h-1 bg-yellow-500 mx-auto mt-2 rounded-full"></span>
    </h2>
    <p-carousel
    [value]="chascas"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
    styleClass="custom-carousel"
    >
        <ng-template pTemplate="item" let-product>
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden hover:scale-105 transition-transform duration-300 cursor-pointer">
            <div class="relative h-48 md:h-56 overflow-hidden">
                <img
                [src]="'http://localhost:3000' + product.imageUrl"
                [alt]="product.name"
                class="w-full h-full object-cover"
                />
            </div>
            <div class="p-4 text-center">
                <h3 class="text-lg font-semibold text-brown-800">{{ product.name }}</h3>
                <p class="text-sm text-gray-600 mt-1">{{ product.description }}</p>
            </div>
            </div>
        </ng-template>
    </p-carousel> -->

  <!-- Carrusel de Snacks -->
  <h2 class="text-2xl md:text-3xl font-extrabold text-brown-800 uppercase tracking-wide text-center relative mb-6">
    Snacks
    <span class="block w-16 h-1 bg-yellow-500 mx-auto mt-2 rounded-full"></span>
    </h2>
    <p-carousel
    [value]="snacks"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
    styleClass="custom-carousel"
    >
        <ng-template pTemplate="item" let-product>
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden hover:scale-105 transition-transform duration-300 cursor-pointer">
            <div class="relative h-48 md:h-56 overflow-hidden">
                <img
                [src]="'https://backcreacionesnicole.onrender.com' + product.imageUrl"
                [alt]="product.name"
                class="w-full h-full object-cover"
                />
            </div>
            <div class="p-4 text-center">
                <h3 class="text-lg font-semibold text-brown-800">{{ product.name }}</h3>
                <p class="text-sm text-gray-600 mt-1">{{ product.description }}</p>
            </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
