

@for (group of tagGroups; track group) {
  <section class="p-10 bg-white/70 backdrop-blur-md rounded-xl">
    
    <!-- Encabezado decorado -->
    <div id="cab" class="flex justify-center items-center gap-3 mb-5">
      <h2 class="flex justify-center text-2xl font-bold text-blue-700 uppercase ">
        {{ group.tag }}
      </h2>
    </div>

    <!-- Carrusel PrimeNG -->
    <p-carousel
      [value]="group.products"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="4000"
    >
      <ng-template let-product #item>
        <div
          class=" border border-gray-200  rounded-xl m-2 p-4 bg-white shadow-sm hover:shadow-md transition"
        >
          <div class="mb-4">
            <div class=" relative mx-auto">
              <img
                [src]="product.imageUrl"
                [alt]="product.name"
                class="w-full h-80 object-cover rounded-lg"
              />
              <p-tag
                [value]="product.inventoryStatus"
                [severity]="getSeverity(product.inventoryStatus)"
                class="absolute"
                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
              />
            </div>
          </div>

          <div class="mb-2 text-center font-semibold text-lg text-gray-800">
            {{ product.name }}
          </div>

          <div class="flex justify-between items-center mt-2">
            <div class="font-bold text-blue-700 text-xl">
              ${{ product.price }}
            </div>
            <div class="flex space-x-2">
              <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section>
}
